<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit User</title>
</head>
<body>
<h2>Edit User Info</h2>
<br>
<form action="saveUser" th:object="${user}" method="POST">
  <input type="hidden" th:field="*{id}" />
  <label>Name:</label>
  <input type="text" th:field="*{name}" />
  <span th:errors="*{name}"></span>
  <br>
  <label>Department:</label>
  <input type="text" th:field="*{department}" />
  <span th:errors="*{department}"></span>
  <br>
  <label>Age:</label>
  <input type="text" th:field="*{age}" />
  <span th:errors="*{age}"></span>
  <br>
  <label>Salary:</label>
  <input type="text" th:field="*{salary}" />
  <span th:errors="*{salary}"></span>
  <br> <br>
  <input type="submit" value="OK">
</form>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>AddEmployee</title>-->
<!--</head>-->
<!--<body>-->
<!--<h2>User Info</h2>-->
<!--<br>-->

<!--<form action="saveUser" th:object="${user}" method="post">-->
<!--&lt;!&ndash;  <input type="hidden" th:field="${user.id}" />&ndash;&gt;-->

<!--  Name <input type="text" th:field="*{name}"/>-->
<!--  <br><br>-->
<!--  Department <input type="text" th:field="*{department}"/>-->
<!--  <br><br>-->
<!--  Age <input type="text" th:field="*{age}"/>-->
<!--  <br><br>-->
<!--  Salary <input type="text" th:field="*{salary}"/>-->
<!--  <br><br>-->
<!--  <input type="submit" value="OK">-->
<!--</form>-->

<!--<form action="saveUser" th:object="${user}" method="post">-->
<!--  &lt;!&ndash; <input type="hidden" th:field="*{id}" /> &ndash;&gt;-->

<!--  Name <input type="text" th:field="*{name}" th:value="${user.name}" />-->
<!--  <br>-->
<!--  Surname <input type="text" th:field="*{department}" th:value="${user.department}" />-->
<!--  <br>-->
<!--  Department <input type="text" th:field="*{age}" th:value="${user.age}" />-->
<!--  <br>-->
<!--  Salary <input type="text" th:field="*{salary}" th:value="${user.salary}" />-->
<!--  <br> <br>-->

<!--  <input type="submit" value="OK">-->
<!--</form>-->

<!--<form action="saveUser" th:object="${user}" method="post">-->
<!--&lt;!&ndash;  <input type="hidden" th:field="*{id}" />&ndash;&gt;-->
<!--  Name <input type="text" th:field="*{name}" />-->
<!--  <br>-->
<!--Surname <input type="text" th:field="*{department}" />-->
<!--  <br>-->
<!--  Department <input type="text" th:field="*{age}" />-->
<!--  <br>-->
<!--  Salary <input type="text" th:field="*{salary}" />-->
<!--  <br> <br>-->
<!--  <input type="submit" value="OK">-->
<!--</form>-->

<!--<form action="saveUser" th:object="${user}" method="post">-->
<!--    <input type="hidden" th:field="${user.id}" />-->
<!--Name <form:input path ="name"/>-->
<!--  <br> <br>-->
<!--Department <form:input path ="name"/>-->
<!--  <br> <br>-->
<!--Age <form:input path ="name"/>-->
<!--  <br> <br>-->
<!--Salary <form:input path ="name"/>-->
<!--  <br> <br>-->
<!--  <input type="submit" value="OK">-->

<!--</form>-->
